NodeRedlows.json
[{"id":"ae6d2fcb.dd2b2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b59e77aa.2bbec8","type":"ttn uplink","z":"ae6d2fcb.dd2b2","name":"Gas_sensor","app":"d9d84dec.f9d3d","dev_id":"lora","field":"","x":130,"y":220,"wires":[["250e039f.b3406c","903cbb97.9f84e8","b589c8d7.baaf58"]]},{"id":"250e039f.b3406c","type":"debug","z":"ae6d2fcb.dd2b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":220,"wires":[]},{"id":"903cbb97.9f84e8","type":"ui_chart","z":"ae6d2fcb.dd2b2","name":"Voltage","group":"630f74d2.f4fbbc","order":0,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":320,"wires":[[]]},{"id":"b589c8d7.baaf58","type":"ui_text","z":"ae6d2fcb.dd2b2","group":"630f74d2.f4fbbc","order":1,"width":0,"height":0,"name":"CounterTxt","label":"Counter","format":"{{msg.counter}}","layout":"row-spread","x":770,"y":380,"wires":[]},{"id":"4eb2905c.b79ff","type":"ui_text_input","z":"ae6d2fcb.dd2b2","name":"DownlinkInput","label":"Msg to send downlink","tooltip":"","group":"1a4368a3.22bf87","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":140,"y":560,"wires":[["8bfe5091.6a3c6"]]},{"id":"140cd4c1.28fdeb","type":"ttn downlink","z":"ae6d2fcb.dd2b2","name":"Gas_Sensor_Downlink","app":"d9d84dec.f9d3d","dev_id":"lora","port":"0","confirmed":false,"schedule":"replace","x":620,"y":540,"wires":[]},{"id":"6cc9d233.ebf6dc","type":"debug","z":"ae6d2fcb.dd2b2","name":"payloadDbg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":640,"wires":[]},{"id":"8bfe5091.6a3c6","type":"function","z":"ae6d2fcb.dd2b2","name":"function","func":"return {\n  payload: {\n      content : msg.payload\n  }\n};","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["140cd4c1.28fdeb","6cc9d233.ebf6dc"]]},{"id":"d9d84dec.f9d3d","type":"ttn app","z":"","appId":"rn2483_foufou","accessKey":"ttn-account-v2.gdMD6wSGMqF7wCNJJDGl98rtiim-JodWeBkXcQMz_t8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"630f74d2.f4fbbc","type":"ui_group","z":"","name":"Default","tab":"7d767cbf.e314b4","disp":true,"width":"6","collapse":false},{"id":"1a4368a3.22bf87","type":"ui_group","z":"","name":"Dowlink","tab":"7d767cbf.e314b4","disp":true,"width":"6","collapse":false},{"id":"7d767cbf.e314b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]